/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "berylline.dtsi"

// No gpios assigned
&kscan_faceup {
	input-gpios;
};

&kscan_facedown {
	input-gpios;
};
