#include "berylline.dtsi"

&kscan_faceup {
	input-gpios
	= <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	;
};

&kscan_facedown {
	input-gpios
	= <&pro_micro 3  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	;
};