# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CALLIOPE_LEFT

config ZMK_KEYBOARD_NAME
	default "Calliope"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_CALLIOPE_LEFT || SHIELD_CALLIOPE_RIGHT

config ZMK_SPLIT
	default y

endif
