#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* Layers */
#define ALPHAS 0
#define EDIT 1
#define SYMBOLS 2
#define NUMBERS 3

/* Mod Sequence (Outer to Inner) */
#define M0 LGUI
#define M1 LCTRL
#define M2 LSHFT
#define M3 LALT

/* Shortcuts */
#define CUT LC(X)
#define COPY LC(C)
#define PASTE LC(V)
#define UNDO LC(Z)
#define ALL LC(A)
#define TOP LC(HOME)
#define BOTTOM LC(END)

/ {
    behaviors {
        home: home_ignoring_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&kp HOME>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        end: end_ignoring_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp END>, <&kp END>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        bspc: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        plus: plus_zoom {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PLUS>, <&kp LC(EQUAL)>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <EDIT SYMBOLS>;
            then-layer = <NUMBERS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        /*                 Key Positions
             0   1   2   3   4      5   6   7   8   9
            10  11  12  13  14     15  16  17  18  19
                20  21  22             23  24  25
                        26  27     28  29              */

        v { key-positions = <1 2>; bindings = <&kp V>; layers = <ALPHAS>; };
        z { key-positions = <20 21>; bindings = <&kp Z>; layers = <ALPHAS>; };
        q { key-positions = <21 22>; bindings = <&kp Q>; layers = <ALPHAS>; };

        lbrc { key-positions = <1 11>; bindings = <&kp LBRC>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        rbrc { key-positions = <8 18>; bindings = <&kp RBRC>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        lpar { key-positions = <2 12>; bindings = <&kp LPAR>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        rpar { key-positions = <7 17>; bindings = <&kp RPAR>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        lbkt { key-positions = <3 13>; bindings = <&kp LBKT>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        rbkt { key-positions = <6 16>; bindings = <&kp RBKT>; layers = <ALPHAS SYMBOLS NUMBERS>; };
    };

    keymap {
        compatible = "zmk,keymap";
        alphas_layer {
            bindings = <
                &kp X     &kp C     &kp L     &kp F     &kp P       &kp K     &kp Y     &kp O     &kp U     &kp APOS
                &kp R     &kp S     &kp N     &kp T     &kp B       &kp J     &kp H     &kp E     &kp I     &kp A
                          &kp W     &kp M     &kp G                           &kp D     &kp COMMA &kp DOT
                                              &mo EDIT  &kp SPACE   &kp LSHFT &mo SYMBOLS
            >;
        };
        edit_layer {
            bindings = <
                &kp ALL   &kp ESC   &kp UNDO  &kp DEL   &kp F2      &kp F4    &home     &kp UP    &end      &kp TOP
                &kp M0    &kp M1    &kp M2    &kp M3    &kp F3      &kp F5    &kp LEFT  &kp ENTER &kp RIGHT &kp BOTTOM
                          &kp CUT   &kp COPY  &kp PASTE                       &bspc     &kp DOWN  &kp TAB
                                              &trans    &trans      &trans    &trans
            >;
        };
        symbols_layer {
            bindings = <
                &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp SEMI  &kp COLON &kp QMARK
                &kp TILDE &kp EQUAL &plus     &kp STAR  &kp GRAVE   &kp BSLH  &kp M3    &kp M2    &kp M1    &kp M0
                          &kp UNDER &kp MINUS &kp FSLH                        &kp PIPE  &kp LT    &kp GT
                                              &trans    &trans      &trans    &trans
            >;
        };
        numbers_layer {
            bindings = <
                &trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
                &kp N1    &kp N2    &kp N3    &kp N4    &kp N5      &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
                          &trans    &trans    &trans                          &trans    &kp COMMA &kp DOT
                                              &trans    &trans      &trans    &trans
            >;
        };
    };
};
