#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ALPHAS 0
#define EDIT 1
#define SYMBOLS 2
#define NUMBERS 3

#define CUT LC(X)
#define COPY LC(C)
#define PASTE LC(V)
#define UNDO LC(Z)
#define ALL LC(A)
#define RENM F2
#define FIND LC(F)
#define TOP LC(HOME)
#define BTM LC(END)

/ {
    behaviors {
        copy: copy_cua {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COPY>, <&kp LC(INS)>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        paste: paste_cua {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PASTE>, <&kp LS(INS)>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        home: home_ignoring_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&kp HOME>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        end: end_ignoring_ctrl {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp END>, <&kp END>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        bspc: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <EDIT SYMBOLS>;
            then-layer = <NUMBERS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        /*                 Key Positions
             0   1   2   3   4      5   6   7   8   9
            10  11  12  13  14     15  16  17  18  19
                20  21  22             23  24  25
                        26  27     28  29              */

        v { key-positions = <1 2>; bindings = <&kp V>; layers = <ALPHAS>; };
        q { key-positions = <2 3>; bindings = <&kp Q>; layers = <ALPHAS>; };
        z { key-positions = <20 21>; bindings = <&kp Z>; layers = <ALPHAS>; };

        semi { key-positions = <24 25>; bindings = <&kp SEMI>; layers = <ALPHAS>; };
        lbkt { key-positions = <1 11>; bindings = <&kp LBKT>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        rbkt { key-positions = <8 18>; bindings = <&kp RBKT>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        lpar { key-positions = <2 12>; bindings = <&kp LPAR>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        rpar { key-positions = <7 17>; bindings = <&kp RPAR>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        lbrc { key-positions = <3 13>; bindings = <&kp LBRC>; layers = <ALPHAS SYMBOLS NUMBERS>; };
        rbrc { key-positions = <6 16>; bindings = <&kp RBRC>; layers = <ALPHAS SYMBOLS NUMBERS>; };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp X     &kp C     &kp L     &kp F     &kp P       &kp K     &kp Y     &kp O     &kp U     &kp QUOT
                &kp R     &kp S     &kp N     &kp T     &kp B       &kp J     &kp H     &kp E     &kp I     &kp A
                          &kp W     &kp M     &kp G                           &kp D     &kp COMMA &kp DOT
                                    &mo EDIT  &kp SPACE             &kp LSHFT &mo SYMBOLS
            >;
        };
        nav_layer {
            bindings = <
                &kp ALL   &kp DEL   &kp ESC   &kp UNDO  &kp RENM    &kp PG_UP &kp TAB   &kp UARW  &bspc     &kp TOP
                &kp LGUI  &kp LCTRL &kp LSHFT &kp LALT  &kp FIND    &kp PG_DN &kp LARW  &kp ENTER &kp RARW  &kp BTM
                          &kp CUT   &copy     &paste                          &home     &kp DARW  &end
                                              &trans    &trans      &trans    &trans
            >;
        };
        sym_layer {
            bindings = <
                &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp UNDER &kp COLON &kp DQT
                &kp QMARK &kp EQUAL &kp PLUS  &kp ASTRK &kp GRAVE   &kp TILDE &kp LALT  &kp LSHFT &kp LCTRL &kp LGUI
                          &kp BSLH  &kp MINUS &kp FSLH                        &kp PIPE  &kp LT    &kp GT
                                              &trans    &trans      &trans    &trans
            >;
        };
        num_layer {
            bindings = <
                &trans    &trans    &trans    &trans    &trans      &trans    &trans    &trans    &trans    &trans
                &kp N1    &kp N2    &kp N3    &kp N4    &kp N5      &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
                          &trans    &trans    &trans                          &trans    &kp COMMA &kp DOT
                                              &trans    &trans      &trans    &trans
            >;
        };
    };
};
