/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp W         &kp F         &kp M         &kp P         &kp U         &kp O         &kp Y         &kp QUOT
             &kp R         &kp S         &kp N         &kp T         &kp A         &kp E         &kp I         &kp H
        // ╰─────────────┴─────────────╮                                                       ╭─────────────┴─────────────╯
                                                       &kp SPACE     &kp BSPC
        //                              ╰─────────────┴─────────────┴─────────────┴─────────────╯ 
            >;
        };
    };
};
