# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BERYLLINE03_DONGLE

config ZMK_KEYBOARD_NAME
	default "Berylline v0.3"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_BERYLLINE03_DONGLE || SHIELD_BERYLLINE03_LEFT || SHIELD_BERYLLINE03_RIGHT

config ZMK_SPLIT
	default y

endif
